body{
    margin: 0px;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(195, 196, 202);
    border-bottom: 1px solid gray;
    box-shadow: 1px 1px gray;
}
.navbar > li{
    display: flex;
    align-items: center;
}
.buscar{
    background-color: white;
    border: 1px solid gray;
    padding: 4px;
    border-radius: 8px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.buscar:focus-within{
    border: 1px solid blue;
}
.buscar > input{
    outline: none;
    border: 0px;
}
.button{
   border: 0px;
   padding: 5px 10px;
   border-radius: 10px;
   font-weight: bolder;
}
.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.logo{
    height: 70px;
}
.mainButton{
    background-color: rgb(5, 212, 5);
    color: white;
}
.mainButton:hover{
    box-shadow: 1px 1px green;
}
.secondaryButton{
    background-color: rgb(95, 195, 253);
    color: white;
}
.secondaryButton:hover{
    box-shadow: 1px 1px rgb(95, 195, 253);
}

.iconoBusqueda:hover{
    color:green;
}